<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gif Fun</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/self/gif.css">
    <script type="text/javascript" src="../static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="../static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/self/common.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="content" class="border_test col-md-7">
                <div id="_content">
                    <div id="vote" class="_content_internal">
                        <button type="button" class="btn btn-primary" id="like"><span class="glyphicon glyphicon-heart-empty"></span></button>
                        <button type="button" class="btn btn-primary" id="archive"><span class="glyphicon glyphicon-star archive_item"></span></button>
                    </div>
                    <div id="gif" class="_content_internal add_radis">
                        <img src="../static/img/1.gif" alt="" id="img">
                    </div>
                    <div id="comment_btn" class="_content_internal">
                        <button type="button" class="btn btn-primary" id="do_comment"><span class="glyphicon glyphicon-comment btn_item"></span> comment</button>
                        <button type="button" class="btn btn-primary" id="copyright"><span class="glyphicon glyphicon-copyright-mark btn_item"></span> copyright</button>
                    </div>
                </div>
                <div id="info">
                    <div id="info_content" class="_content_internal add_radis">
                        <div id="refer_link" class="_content_internal add_radis"><span class="glyphicon glyphicon-globe btn_item"></span> From bbs.hupu.com</div>
                    </div>
                </div>
                <div id="tags">
                    <div id="tags_content" class="_content_internal add_radis">
                        <ul>
                            <li><div class="tags_details add_radis">1123123123232345</div></li>
                            <li><div class="tags_details add_radis">123</div></li>
                            <li><div class="tags_details add_radis">123</div></li>
                            <li><div class="tags_details add_radis">123</div></li>
                            <li><div class="tags_details add_radis">123</div></li>
                            <li><div class="tags_details add_radis">1123123123232345</div></li>
                            <li><div class="tags_details add_radis">123</div></li>
                            <li><div class="tags_details add_radis">11231231345</div></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div id="ads_content" class="border_test col-md-3">
                <div id="_ads">
                    <div id="ads_vote" class="_content_internal">
                        ads
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


    </script>
</body>

</html>