<html>
<head>
    <meta charset="UTF-8">
    <title>...</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/self/common.css">
    <script type="text/javascript" src="../static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="../static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/self/common.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/self/gif.css">
    <style>

    </style>
</head>
<body>
    <div id="header">
        <i id="menuline" class="line" style="display: inline; width: 75px; left: 1009.44px;"></i>
        <div id="headerinner">
            <div class="logo">
                <img src="../static/img/logo.png" alt="ligerui">
            </div>
            <div class="menu" id="headermenu">
                <ul class="list-inline" id="menuitems">
                    <li class="" data-index="0"><a href="#">Gif</a></li>
                    <li class="active" data-index="1"><a href="#">Upload</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content_div" class="">
        <div class="img_content add_radis">
            <ul class="img_ul">
                <li class="img_list_li">
                    <div class="img_list_div">
                        <img src="../static/img/2.gif" alt="" class="img_list">
                    </div>

                </li>
                <li class="img_list_li">
                    <div class="img_list_div">
                        <img src="../static/img/0.gif" alt="" class="img_list">
                    </div>
                </li>
                <li class="img_list_li">
                    <div class="img_list_div">
                        <img src="../static/img/2.gif" alt="" class="img_list">
                    </div>
                </li>
                <li class="img_list_li">
                    <div class="img_list_div">
                        <img src="../static/img/2.gif" alt="" class="img_list">
                    </div>
                </li>
                <li class="img_list_li">
                    <div class="img_list_div">
                        <img src="../static/img/2.gif" alt="" class="img_list">
                    </div>
                </li>
                <li class="img_list_li">
                    <div class="img_list_div">
                        <img src="../static/img/1.gif" alt="" class="img_list">
                    </div>
                </li>
                <li class="img_list_li">
                    <div class="img_list_div">
                        <img src="../static/img/2.gif" alt="" class="img_list">
                    </div>
                </li>
                <li class="img_list_li">
                    <div class="img_list_div">
                        <img src="../static/img/2.gif" alt="" class="img_list">
                    </div>
                </li>
                <li class="img_list_li">
                    <div class="img_list_div">
                        <img src="../static/img/1.gif" alt="" class="img_list">
                    </div>
                </li>
            </ul>
        </div>
        <div id="upload_content" class="row">

        </div>


    </div>
</body>
</html>