<html>
<head>
    <meta charset="UTF-8">
    <title>...</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/self/common.css">
    <script type="text/javascript" src="../static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="../static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/self/common.js"></script>
    <!--<script type="text/javascript" src="../static/self/test.js"></script>-->
    <style>

    </style>
</head>
<body>
    <div id="header">
        <i id="menuline" class="line" style="display: inline; width: 75px; left: 1009.44px;"></i>
        <div id="headerinner">
            <div class="logo">
                <img src="../static/img/logo.png" alt="ligerui">
            </div>
            <div class="menu" id="headermenu">
                <ul class="list-inline" id="menuitems">
                    <li class="" data-index="0"><a href="#">首页</a></li>
                    <li class="" data-index="1"><a href="#">示例</a></li>
                    <li class="" data-index="2"><a href="#">API</a></li>
                    <li class="" data-index="3"><a href="#">捐献</a></li>
                    <li class="active" data-index="4"><a href="#">服务支持</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="gif_content_div">
        <div id="gif_content"  class="">
                <div class="border_circle" id="gif_left">
                    <div class="gif_text">Demo...</div>
                    <div class="gif_pic">
                        <!--<img src="../static/img/1.gif" alt="">-->
                        <img src={{image_path}} alt="">
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span>Upvote</button>
                    </div>
                </div>
                <div class="border_circle" id="ads_right">
                    ads
                </div>

        </div>
    </div>
    <div id="footer">
        <div id="footer_content">
            Copy righted by...
        </div>
    </div>
</body>
</html>