#content
{

    margin-top:50px;
    background: white;
    border-radius: 5px;
}
#ads_content
{
    margin-left:10px;
    margin-top:60px;
    background: white;
    border-radius: 5px;
}
body
{
    background: #E2E2E2;
}
.border_test
{
    border: solid red 1px;
}

._content_internal
{
    margin: 5px 5px;
}
.copy_right_class
{
    margin-top: 10px;
}

.source_class
{
    margin-top: 20px;
    margin-left: 20px;
}
#gif, #ads_vote
{
    background: #EEEEEE;
    text-align:center;
}
#info_content, #paging_content, #ad_bottom_content
{
    background: #EEEEEE;
    text-align:left;
    padding: 10px 5px;
    margin: 10px 5px;
    height: 25%;
}
#tags_content
{
    background: #EEEEEE;
    text-align:left;
    padding: 1px auto;
    width:70%;
}
.add_radis{
    border-radius: 5px;
}
#img
{
    border-radius:20px;
    margin: 5px 5px;
}
.btn
{
    margin: 0 10px;
}
#like
{
    background: #E93844;
    border: solid #E93844 1px;
    border-radius: 9px;
}
#archive, #do_comment, #copyright
{
    background: #C8C8C8;
    border: solid #C8C8C8 1px;
    border-radius: 7px;
    margin: auto 10px;
}
#refer
{
    background: #F9F9F9;
    color: black;
    border: solid #F9F9F9 1px;
    border-radius: 3px;
    margin: 0 10px;
}
#btn_item
{
    color: white;
}
#_content, _ads
{
margin: 10px auto;
}
.tags_details
{
    background: #F6E5C1;
    border: solid #F6E5C1 1px;
    text-align: center;
    margin: 3px 1px;
    padding: 2px 1px;
}

li{
    display: inline-block;
    padding: 0px 20px;
}
ul{
    margin: 5px -8%;

}
#paging_before_btn, #paging_after_btn
{
    background: #EEEEEE;
    border: solid #EEEEEE 1px;
    border-radius: 7px;
    margin: auto auto;
    height: 30%;
    width: 40%;
}
.btn_paging_item
{
    color: black;
    font-size: 20px;
}
img{
     height:80%;
     width: 80%;
     max-height: 450px;
     max-width: 400px;
     vertical-align:middle;
 }
 .img_list
 {

     height: 150px;
     width: auto;
     padding:5px 1px;
     margin: auto 1px;
 }
.img_ul{
    margin: 10px 5%

}
.img_content
{
    width:90%;
    margin: auto auto;
    background: white;
}
.img_list_div
{
    width:100%;
    background: #cccccc
}
.img_list_li
{
    margin: 5px auto;
}