#content
{
    margin: auto 10px;
    margin-top:60px;
    background: white;
    border-radius: 5px;
}
#ads_content
{
    margin: auto auto;
    margin-top:60px;
    background: white;
    border-radius: 5px;
}
body
{
    background: #E2E2E2;
}
.border_test
{
    border: solid white 1px;
}

._content_internal
{
    margin: 5px 5px;
}
#gif, #ads_vote
{
    background: #EEEEEE;
    text-align:center;
}
#info_content
{
    background: #EEEEEE;
    text-align:left;
    padding: 10px 5px;
    margin: 10px 5px;
}
#tags_content
{
    background: #EEEEEE;
    text-align:left;
    padding: 1px auto;
    width:50%;
}
.add_radis{
    border-radius: 5px;
}
#img
{
    border-radius:20px;
    margin: 5px 5px;
}
.btn
{
    margin: 0 10px;
}
#like
{
    background: #E93844;
    border: solid #E93844 1px;
    border-radius: 9px;


}
#archive, #do_comment, #copyright
{
    background: #C8C8C8;
    border: solid #C8C8C8 1px;
    border-radius: 7px;
    margin: 0 10px;
}
#refer
{
    background: #F9F9F9;
    color: black;
    border: solid #F9F9F9 1px;
    border-radius: 3px;
    margin: 0 10px;
}
#btn_item
{
    color: white;
}
#_content, _ads
{
margin: 10px auto;
}
.tags_details
{
    background: #F6E5C1;
    border: solid #F6E5C1 1px;
    text-align: center;
    margin: 3px 3px;
    padding: 2px 10px;
}

li{
    display: inline-block;
    padding-right: 0px;
}
ul{
    margin: 5px -5px;

}